<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App - CRUD Utilisateurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!showForm">
    <ion-button expand="block" (click)="addUser()">Ajouter un utilisateur</ion-button>
    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-label>
          <h2>{{user.name}}</h2>
          <p>{{user.email}}</p>
          <p>{{user.phone}}</p>
          <p>Créé le : {{user.created_at | dateFr}}</p>
        </ion-label>
        <ion-button fill="clear" slot="end" color="primary" (click)="editUser(user)">Éditer</ion-button>
        <ion-button fill="clear" slot="end" color="danger" (click)="deleteUser(user)">Supprimer</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="showForm">
    <app-user-form
      [user]="selectedUser"
      (submitForm)="onFormSubmit($event)"
      (cancel)="cancelForm()"
    ></app-user-form>
  </div>
</ion-content>
